@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

:root {
    --yellow: #3cb371;
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #fdfdfd;
}
 
p { margin:0 }
.navbar{
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    margin-bottom: 25px;
}
.underline:after {
	content: '';
	display: block;
	width: 10%;
	height: 4px;
	background-color: rgb(0, 0, 0);
}
.skills{
    width: 40%;   
}
.nav-img{
    height: 50px;
}
.cv-item{
    color: black;
}

.cv-item{
    background-color: rgba(55, 122, 51, 0.7);
    border-radius: 5px;
    width: 80px;
    font-weight: bold;
}

.cv-item a{
    color: white !important;
}

.cv-item:hover{
    background-color: rgba(55, 122, 51, 1);
}


/* css for index page */
.profile-image{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.profile-img-holder{
    margin-bottom: 15px;
}
.index-page h2{
    font-size: 2rem;
}

.index-page p{
    font-size: 1rem;
}


.index-social-logo{
    text-align: center;    
}
.index-social-logo i{
    font-size: 2rem;
    color: rgba(55, 122, 51, 0.9);
    padding: 10px;
}

.index-social-logo i:hover{
    transform: scale(1.1);
    color: rgba(55, 122, 51, 1);
}


/* css for the result page */
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
.result-card{
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.result-card-img{
    height: 150px;
    width: 150px;
    font-weight: bold;
    margin-left: 5px;
}

.result-card h5{
    font-size: 1rem;
    font-weight: bold;
}

.result-card h6{
    font-size: 0.9 rem;
}

.result-card p{
    font-size: 0.8rem;
}

.gas{
    height: 130px;
    width: 130px;
    margin-left: 20px;
}



/* css for the publications page */
.publication-holder{
    background-color: rgba(247, 248, 249, 0.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    margin-bottom: 15px;
}
.tag{
    background-color:rgba(55, 122, 51, 0.7);
    padding: 8px;
    top: 1px;
    left: -80px;
    color: white;
    border-radius: 5px;
}
.publication-holder h5{
    font-size: 1.2rem;
    font-weight: bold;
}

.publication-holder i{
    font-size: 1rem;
}

.publication-holder a{
    color: rgba(55, 122, 51, 1);
}
.publication-holder p{
    font-size: 0.9rem;
}


/* css for certificate page */

.certificate-card-img{
    height: 400px;
    width: 600px;
    font-weight: bold;
    margin-left: 5px;
}