{% extends "base.html" %}

{% block content%}
    <div class="dash-container"> 
        <h4 class="dashboard-heading">DashBoard</h4>
        <h6>Current Best Model : c84aa72fea2c9ff3b2461d12b6931e77dcaa09aa4fa66789f292c715bee986ce</h6> 
    </div>
    <div class="dashboard-content-holder">
        <div class="">

            <div class="left-box text-center">

                <div class="left-box-inner">
                    <i class="far fa-handshake"></i>
                    <div class="col-md-12">
                        <h6>40</h6>
                    </div>
                    <h6 class="tot-con">Total Contribution</h6>
                </div>

                <div class="left-box-inner">
                    <i class="fas fa-sync-alt"></i>
                    <div class="col-md-12">
                        <h6>8</h6>
                    </div>
                    <h6 class="mt-2 tot-con">Model Updates</h6>
                </div>

                <div class="left-box-inner">
                    <i class="far fa-check-square"></i>
                    <div class="col-md-12">
                            <h6>112</h6>
                    </div>
                    <h6 class="mt-2 tot-con">Query Served</h6>
                </div>

            </div>

            <div class="right-box">
                <div class="row first-row">

                    <div class="right-box-inner">
                        <div class="col-md-12">
                            <i class="fas fa-play"></i>
                        </div>
                        <a href="/initialTraining">Initiate Model</a>
                    </div>

                    <div class="right-box-inner">
                        <div class="col-md-12">
                            <i class="fas fa-hands-helping"></i>
                        </div>
                        <a href="/train">Contribute to Model</a>
                    </div>

                    <div class="right-box-inner">
                        <div class="col-md-12">
                            <i class="fas fa-search-plus"></i>
                        </div>
                        <a href="/query">Make A Query</a>
                    </div>

                    <div class="right-box-inner">
                        <div class="col-md-12">
                            <i class="far fa-chart-bar"></i>
                        </div>
                        <a href="/analysis">Analytics</a>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col-7 box-6">
                        <div class="divtop-transaction">
                            <div class="left">
                                <h6>Recent Transactions</h6>
                            </div>
                            <div class="right">
                                <a class="" href="/printchain">See All</a>
                            </div>
                        </div>

                        <div class="transactions-content">
                            <table class="table transaction-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Block Hash</th>
                                        <th scope="col">Previous Hash</th>
                                        <th scope="col">Nonce</th>
                                        <th scope="col">Model Hash</th>
                                        <th scope="col">FBeta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for block in current_chain|reverse  %}
                                        {% if loop.index <= 5 %}
                                            <tr>
                                                <td> {{block['block_hash']|truncate(24, True) }} </td>
                                                <td> {{block['previous_hash']|truncate(24, True) }} </td>
                                                <td> {{block['nonce']}} </td>
                                                <td> {{block['data']['hash']|truncate(24, True) }}</td> 
                                                <td>{{ '%0.7f'| format(block['data']['fbeta'])}}</td>      
                                            </tr>
                                        {% endif %}
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-5 box-7">
                        <div class="divtop-metric">
                            <div class="left">
                                <h6>Recent Metric Updates</h6>
                            </div>
                            <div class="right">
                                <a class="" href="/metrics">See All</a>
                            </div>
                        </div>
                        <div class="metric-content">
                            <table class="table transaction-table">
                                <thead>
                                    <tr>   
                                        <th scope="col">Precision </th>
                                        <th scope="col"> Recall </th>
                                        <th scope="col">F1Score </th>
                                        <th scope="col">FBeta </th>
                                      <th scope="col"> False Negative Rate </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for metric in metric_list|reverse  %}
                                        {% if loop.index <= 5 %}
                                            <tr>  
                                                <td>{{'%0.7f'| format(metric['precision']) }}</td>
                                                <td>{{'%0.7f'| format(metric['recall']) }} </td>
                                                <td>{{'%0.7f'| format(metric['f1score']) }} </td>
                                                <td>{{'%0.7f'| format(metric['fbeta']) }} </td>
                                                <td>{{'%0.7f'| format(metric['false_negative_rate']) }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    

{% endblock %}

