{% extends "base.html" %}

{% block content%}
 
<div class="">
    <div class="container">
        <h4 class="underline mb-4">Experience</h4>


        <div class="experience holder">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="result-card-img" src="{{ url_for('static',filename='images/nsu.png') }}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5> Position : Senior Research Assistant </h5>
                        <p>  Employer : Department of Electrical & Computer Engineering (ECE), North South University, Dhaka, Bangladesh. </p>
                        <p>  Duration : February 2022 - Present </p>
                        <p>  I have joined as a senior research assistant at February, 2022. The project focuses on blending technologies 
                        like blockchain, smart contract and artificial intelligence to develop secure ecosystems for organizations where data 
                        is confidential and sophisticated. With secure and robust systems, organizations can collaboratively
                        build robust machine learning algorithm and enhance them incrementally. This project is being supervised by 
                        <a href="http://ece.northsouth.edu/people/rashedur-rahman/" target="_blank">Dr. Rashedur M. Rahman</a> 
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="experience holder">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="result-card-img" src="{{ url_for('static',filename='images/nsu.png') }}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5> Position : Research Assistant </h5>
                        <p>  Employer : Department of Electrical & Computer Engineering (ECE), North South University, Dhaka, Bangladesh. </p>
                        <p>  Duration : May 2021 - January 2022 </p>
                        <p>  Right after finishing my senior design project (BSc. thesis), my thesis supervisor 
                            <a href="http://ece.northsouth.edu/people/rashedur-rahman/" target="_blank">Dr. Rashedur M. Rahman</a> hired my on his project. 
                            I initially worked on the project entitled "Dense prediction under pseudo-random and non-random noise in multidimensional labels."
                            And then started a new project entitled "blending blockchain and machine learnign for future generation ecosystems" project.
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}    
