{% extends "base.html" %}

{% block content%}
 
<div class="">
    <div class="container">
        <h4 class="underline mb-4">Publications</h4>
        
        <div class="publication-holder card position-relative">
            <div class="position-absolute tag"> 2021 </div>

            <h5> Patch-Wise Semantic Segmentation of Sedimentation from High-Resolution Satellite Images</h5>
            <i> <b>Tahmid Hasan Pranto</b>, Abdulla All Noman, Asaduzzaman Noor, Ummey Habiba Deepty & Rashedur M. Rahman </i>
            <p>Advances in Computational Intelligence</p>
            <p>Springer | Book Chapter</p>
            <p> DOI : <a href='https://doi.org/10.1007/978-3-030-85030-2_41' target="_blank">https://doi.org/10.1007/978-3-030-85030-2_41 </a></p>
        </div>

        <div class="publication-holder card position-relative">
            <div class="position-absolute tag"> 2021 </div>

            <h5> Blockchain and smart contract for IoT enabled smart agriculture</h5>
            <i> <b>Tahmid Hasan Pranto</b>, Abdulla All Noman, Atik Mahmud & AKM Bahalul Haque </i>
            <p>PeerJ Computer Science</p>
            <p>PeerJ | Research Article</p>
            <p> DOI : <a href='https://doi.org/10.7717/peerj-cs.407' target="_blank">https://doi.org/10.7717/peerj-cs.407
            </a></p>
        </div>


        <div class="publication-holder card position-relative">
            <div class="position-absolute tag"> 2021 </div>
            
            <h5> A Blockchain, Smart Contract and Data Mining Based Approach toward the Betterment of E-Commerce </h5>
            <i> <b>Tahmid Hasan Pranto</b>, Abdulla All Noman,Mustafizur Rahaman,A. K. M. Bahalul Haque, A. K. M. Najmul Islam & Rashedur M. Rahman </i>
            <p>Cybernetics and Systems</p>
            <p>Taylor & Francis | Research Article</p>
            <p> DOI : <a href='https://doi.org/10.1080/01969722.2021.2018545' target="_blank">https://doi.org/10.1080/01969722.2021.2018545</a></p>
        </div>
        

    </div>
</div>
{% endblock %}    
